[[hooks]]
stage = "pre_build"
command = "sh"
command_arguments = [
  "-c",
  "bun x @tailwindcss/cli -i ./input.css -o ./dist/tailwind.css",
]

[[hooks]]
stage = "build"
command = "sh"
command_arguments = ["-c", "cargo build --release"]
